.Themes{
    text-align: center;
    border-radius: 40% 0% 20% 0%;
    -webkit-border-radius: 40% 0% 20% 0%;
    -moz-border-radius: 40% 0% 20% 0%;
    -ms-border-radius: 40% 0% 20% 0%;
    -o-border-radius: 40% 0% 20% 0%;
}

.Tests{
    text-align: center;
    border-radius: 20% 0% 40% 0%;
    -webkit-border-radius: 20% 0% 40% 0%;
    -moz-border-radius: 20% 0% 40% 0%;
    -ms-border-radius: 20% 0% 40% 0%;
    -o-border-radius: 20% 0% 40% 0%;
}

